* {
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
    /*            border: 1px dotted grey;*/
}

body {
    background: black url(/img/main-bg.jpg) no-repeat top;
    color: white;
    width: 100%;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.layout-centerer {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 72px;
    font-size: 16px;
    font-weight: bold;
    background: black;
    margin: 0;
}

nav li {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 30px;
}

nav li:not(:first-child) {
    margin-left: 40px;
}

nav li:first-child {
    border-bottom: 3px solid white;
}

nav ul {
    width: 680px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

nav {
    float: left;
    padding-top: 18px;
}

.user-area {
    float: right;
    vertical-align: middle;
    padding-top: 18px;
}

.user-area img {
    width: 18px;
    height: 16px;
    margin-bottom: -6px;
    margin-right: 10px;
}

.logo {
    width: 368px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}

.features {
    width: 960px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
}

.features-item {
    width: 280px;
    height: 176px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
}

.features-item {
    margin-left: 25px;
    margin-bottom: 75px;
}

b,
h2 {
    font-size: 30px;
    font-weight: bold;
}

.title {
    display: inline-block;
    position: relative;
    padding-bottom: 80px;
    width: 90px;
}

.title::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: white;
    bottom: 0;
    left: 35px;
    position: absolute;
    margin-bottom: 20px;
    text-align: center;
}

time {
    font-size: 14px;
    font-weight: normal;
}

.btn {
    display: inline-block;
    background: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    height: 33px;
    padding-bottom: 0;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn:disabled,
.btn.disabled {
    cursor: default;
    opacity: 0.5;
}

.btn:disabled,
.btn.disabled {
    background-color: black;
}

.news-gallery,
.info-apply {
    background: lightgrey url(/img/section-bg.jpg) repeat;
    color: black;
    width: 940px;
    height: 430px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
}

.news-gallery {
    margin-bottom: 20px;
}

.news,
.gallery,
.main-contacts,
.apply {
    display: inline-block;
    height: 364px;
}

.news {
    width: 300px;
    margin-right: 80px;
}

.news p {
    margin-bottom: 0
}

.main-contacts {
    width: 330px;
    text-align: left;
    margin-right: 50px;
}

.gallery {
    width: 300px;
    vertical-align: top;
}

.gallery-content {
    display: inline-block;
    background: grey;
    height: 178px;
    margin-left: 0;
    margin-bottom: 30px;
    height: 164px;
    border: 7px solid white;
}

.gallery .info-apply {
    margin-top: 34px;
}

.btn-gallery-next,
.btn-gallery-prev {
    display: inline-block;
    width: 138px;
    height: 43px;
}

.gallery .btn-gallery-next {
    margin-left: 20px;
}

.news ul {
    list-style-type: none;
    padding-left: 0;
    width: 300px;
}

section a {
    display: inline-block;
    min-width: 140px;
    height: 41px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.btn-news {
    margin-top: 27px;
}

.contacts-btn {
    margin-top: 27px;
    margin-top: 37px;
    padding-bottom: 0;
}

.decor-divider {
    width: 20px;
    height: 278px;
    display: inline-block;
    margin-right: 74px;
}

.apply {
    width: 320px;
    vertical-align: top;
}

.apply {
    width: 300px;
}

.apply p {
    width: 293px;
}

.apply-form input {
    box-sizing: content-box;
    width: 124px;
    height: 29px;
    border: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 0;
    outline: none;
}

.apply-form input:focus {
    border: 2px solid #663d15;
}

.apply-form input:first-child {
    margin-top: 10px;
    margin-left: 0;
}

.apply-form input:nth-child(2) {
    margin-top: 10px;
    margin-left: 20px;
}

.apply-form input:nth-child(3) {
    margin-top: 19px;
    margin-left: 0;
}

.apply-form input:nth-child(4) {
    margin-top: 19px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.apply-form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: black;
    font-weight: bold;
}

.apply-form input::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
    font-weight: bold;
}

.apply-form input:-ms-input-placeholder {
    /* IE 10+ */
    color: black;
    font-weight: bold;
}

.apply-form input:-moz-placeholder {
    /* Firefox 18- */
    color: black;
    font-weight: bold;
}

.btn-apply {
    width: 100%;
    height: 43px;
}

.sections-centerer {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 100%;
    height: 189px;
    font-size: 14px;
    font-weight: bold;
    background: grey url(/img/footer-bg.jpg);
    margin: 0;
}

.footer-info,
.social,
.copyright {
    display: inline-block;
    vertical-align: top;
    padding-top: 55px;
}

.footer-info {
    width: 320px;
}

.social {
    width: 141px;
    margin-left: 80px;
    text-align: center;
    padding-top: 32px;
}

.copyright {
    width: 140px;
    margin-left: 254px;
    text-align: center;
    padding-top: 32px;
}

.social-btn {
    display: block;
    float: left;
    background: grey url(/img/spritesheet.png);
    width: 43px;
    height: 43px;
    margin-left: 6px;
    font-size: 0;
    cursor: pointer;
    transition: background-position 0.5s, background-color 0.5s;
}

.social-btn-vk {
    background-position: -6px -226px;
    margin-left: 0;
}

.social-btn-vk:hover,
.social-btn-vk:active {
    background-position: -6px -281px;
}

.social-btn-fb {
    background-position: -6px -6px;
}

.social-btn-fb:hover,
.social-btn-fb:active {
    background-position: -6px -61px;
}

.social-btn-inst {
    background-position: -6px -116px;
}

.social-btn-inst:hover,
.social-btn-inst:active {
    background-position: -6px -171px;
}

.footer-wrapper {
    width: 942px;
    margin-left: auto;
    margin-right: auto;
}

.btn-copyright {
    display: block;
    min-width: 138px;
    min-height: 43px;
    line-height: 45px;
}

.map-link {
    text-decoration: underline;
}