body {
    background: url(/img/main-bg.jpg) no-repeat top;
    color: white;
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.layout-centerer {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    border: 1px dotted rgba(255, 255, 255, 0.1);
}

header {
    width: 100%;
    height: 72px;
    font-size: 16px;
    font-weight: bold;
    background: black;
    margin: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 27px;
}

nav li:not(:first-child) {
    margin-left: 40px;
}

nav li:first-child {
    border-bottom: 3px solid white;
}

nav ul {
    width: 680px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

header .layout-centerer {
    margin-top: 18px;
}

nav {
    float: left;
}

.user-area {
    float: right;
}

.user-area img {
    width: 18px;
    height: 16px;
    margin-bottom: -6px;
    margin-right: 10px;
}

.logo {
    width: 368px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}

.features {
    width: 960px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
}

.features-item {
    width: 279px;
    height: 176px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
}

.features-item {
    margin-left: 24px;
    margin-bottom: 75px;
}

b,
h2 {
    font-size: 30px;
    font-weight: bold;
}

.title {
    display: inline-block;
    position: relative;
    padding-bottom: 80px;
    width: 90px;
}

.title::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: white;
    bottom: 0;
    left: 35px;
    position: absolute;
    margin-bottom: 20px;
    text-align: center;
}

time {
    font-size: 14px;
    font-weight: normal;
}

.btn {
    display: inline-block;
    width: 140px;
    height: 43px;
    background: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.news-gallery {
    background: url(/img/section-bg.jpg) repeat;
    color: black;
    width: 940px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

.news,
.gallery {
    display: inline-block;
    height: 364px;
}

.news {
    width: 380px;
    text-align: left;
    margin-left: 70px;
}

.news ul {
    list-style-type: none;
    margin-left: -40px;
}

.news a {
    display: inline-block;
    min-width: 140px;
    height: 41px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.decor-divider {
    width: 8px;
    height: 278px;
    margin-left: 40px;
}

.gallery {
    width: 320px;
    vertical-align: top;
    margin-left: 50px;
}

.gallery-content {
    display: inline-block;
    background: white;
    width: 300px;
    height: 178px;
    margin-left: 0;
    margin-bottom: 30px;
}

.gallery-content img {
    text-align: center;
    margin-left: 7px;
    margin-top: 7px;
}

footer {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    background: black;
    margin: 0;
    display: inline-block;
}